* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Lato";
  src: url(../assets\f ontsLatoLato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoI";
  src: url(../assets/fonts/Lato/Lato-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "LatoB";
  src: url(../assets/fonts/Lato/Lato-Black.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url(../assets/fonts/Caveat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 38px;
}

.siteLogo {
  width: 240px;
  height: 55px;
}

nav a {
  margin-left: 55px;
  font-family: "Caveat";
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.login {
  background-color: #ffd972;
  padding: 10px 45px 10px 45px;
  border-radius: 26px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 170px;
}

.copy {
  margin-left: 40px;
}

.footerIcon {
  width: 19px;
  height: 19px;
  margin-right: 40px;
}

footer p {
  font-family: "LatoI";
  font-size: 15px;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.footLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 1025px) {
  .recipeDesc {
    margin-top: 149px;
    display: flex;
    justify-content: center;
    margin-right: 134px;
  }
  .desc {
    max-width: 455px;
    margin-left: 45px;
  }
  .recImage {
    width: 468px;
    height: 421px;
    object-fit: cover;
    overflow: hidden;
    margin-left: 12px;
  }
  .desc p {
    font-size: 20px;
    font-family: "Caveat";
  }
  h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 25px;
  }
  h3 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  h1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 65px;
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transform: scale(-1);
    font-size: 25px;
  }
  .recProcess {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 60px;
  }
  .recProcess ul {
    list-style: none;
  }
  .recProcess li {
    font-size: 20px;
    font-family: "Caveat";
  }
  .recProcess ol li {
    margin-left: 16px;
  }
  .recProcess h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    width: 300px;
  }
  .ingredients {
    width: 1055px;
  }
  .instructions {
    width: 1055px;
    margin-top: 60px;
    margin-bottom: 93px;
  }
  .instructions button {
    width: 128px;
    height: 42px;
    font-family: "Caveat";
    font-size: 20px;
    background-color: #FFD972;
    border-style: none;
    border-radius: 26px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .recipeDesc {
    margin-top: 149px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .desc {
    max-width: 455px;
    margin-top: 60px;
  }
  .desc h3 {
    margin-top: 40px;
  }
  .recImage {
    width: 468px;
    height: 421px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 24px;
  }
  .desc p {
    font-size: 20px;
    font-family: "Caveat";
    margin-top: 36px;
  }
  h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 25px;
  }
  h3 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  h1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 65px;
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transform: scale(-1);
    margin-right: 12px;
    margin-left: -24px;
  }
  .recProcess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
  }
  .recProcess ul {
    list-style: none;
  }
  .recProcess li {
    font-size: 20px;
    font-family: "Caveat";
  }
  .recProcess ol li {
    margin-left: 16px;
  }
  .recProcess h2 {
    margin-bottom: 36px;
  }
  .ingredients {
    width: 455px;
  }
  .instructions {
    width: 455px;
    margin-top: 60px;
    margin-bottom: 195px;
  }
  .instructions button {
    width: 128px;
    height: 42px;
    font-family: "Caveat";
    font-size: 20px;
    background-color: #FFD972;
    border-style: none;
    border-radius: 26px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 599px) {
  .recipeDesc {
    margin-top: 71px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .desc {
    width: 322px;
    margin-top: 60px;
  }
  .desc h3 {
    margin-top: 45px;
  }
  .desc h2 {
    margin-top: -14px;
  }
  .recImage {
    width: 251px;
    height: 226px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 28px;
  }
  .desc p {
    font-size: 16px;
    font-family: "Caveat";
    margin-top: 16px;
    max-width: 250px;
  }
  h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  h3 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  h1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
    font-family: "Lato";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transform: scale(-1);
    margin-right: 12px;
    margin-left: -24px;
  }
  .recProcess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 44px;
  }
  .recProcess ul {
    list-style: none;
  }
  .recProcess li {
    font-size: 20px;
    font-family: "Caveat";
  }
  .recProcess ol li {
    margin-left: 16px;
  }
  .recProcess h2 {
    margin-bottom: 16px;
  }
  .ingredients {
    width: 322px;
  }
  .instructions {
    width: 322px;
    margin-top: 44px;
    margin-bottom: 95px;
  }
  .instructions button {
    width: 128px;
    height: 42px;
    font-family: "Caveat";
    font-size: 20px;
    border-style: none;
    border-radius: 26px;
    margin-top: 44px;
  }
}

.homepage {
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../assets/images/hero.jpg);
  height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -100px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  height: 357px;
  width: 357px;
  border-radius: 100%;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.c1text-head {
  font-family: Caveat;
  font-size: 24px;
}

.c1text-desc {
  font-family: Lato;
  font-size: 13px;
  width: 164px;
}

.circle2 {
  height: 167px;
  width: 167px;
  background-color: #fcbcb8;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 150px;
  right: 100px;
  z-index: -1;
}

.c2text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.c2text-desc {
  font-family: Lato;
  font-size: 10px;
  width: 105px;
}

/*# sourceMappingURL=styles.css.map */
