* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoI";
  src: url(../assets/fonts/Lato/Lato-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "LatoB";
  src: url(../assets/fonts/Lato/Lato-Black.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url(../assets/fonts/Caveat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaveatB";
  src: url(../assets/fonts/Caveat-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 1025px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 38px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .siteLogo {
    width: 240px;
    height: 55px;
  }
  nav a {
    margin-left: 55px;
    font-family: "Caveat";
    font-size: 25px;
    text-decoration: none;
    color: #000;
  }
  nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
  .login {
    background-color: #ffd972;
    padding: 10px 45px 10px 45px;
    border-radius: 26px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .mobileMenuIcon {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 38px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .siteLogo {
    width: 240px;
    height: 55px;
  }
  nav a {
    margin-left: 55px;
    font-family: "Caveat";
    font-size: 25px;
    text-decoration: none;
    color: #000;
  }
  nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
  .login {
    background-color: #ffd972;
    padding: 10px 45px 10px 45px;
    border-radius: 26px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .navLinks {
    display: none;
  }
  .mobileMenuIcon {
    width: 31.33px;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    bottom: 40px;
  }
  .copy {
    margin-left: 40px;
  }
  .footerIcon {
    width: 19px;
    height: 19px;
    margin-right: 40px;
    opacity: 0.6;
  }
  footer p {
    font-family: "LatoI";
    font-size: 15px;
    margin-right: 20px;
    color: #393939;
    text-decoration: none;
  }
  .footLinks a {
    text-decoration: none;
  }
  .footLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -130px;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    bottom: 40px;
  }
  .copy {
    margin-left: 20px;
  }
  .footerIcon {
    width: 19px;
    height: 19px;
    margin-right: 20px;
    opacity: 0.6;
  }
  .socialIcons {
    display: flex;
  }
  footer p {
    font-family: "LatoI";
    font-size: 10px;
    margin-right: 20px;
    color: #393939;
    text-decoration: none;
  }
  .footLinks a {
    text-decoration: none;
  }
  .footLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 599px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    bottom: 60px;
  }
  .copy {
    white-space: nowrap;
    padding-left: 100px;
    min-width: 100px;
    margin-top: -30px;
  }
  .socialIcons {
    display: flex;
    margin-top: -30px;
    padding-right: 100px;
  }
  .footerIcon {
    width: 19px;
    height: 19px;
    opacity: 0.6;
  }
  footer p {
    font-family: "LatoI";
    font-size: 10px;
    margin-right: 20px;
    color: #393939;
    text-decoration: none;
  }
  .footLinks a {
    text-decoration: none;
  }
  .footLinks {
    min-width: 260px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1025px) {
  .recipeDesc {
    margin-top: 149px;
    display: flex;
    justify-content: center;
    margin-right: 134px;
  }
  .desc {
    max-width: 455px;
    margin-left: 45px;
  }
  .recImage {
    width: 468px;
    height: 421px;
    object-fit: cover;
    overflow: hidden;
    margin-left: 12px;
  }
  .desc p {
    font-size: 20px;
    font-family: "Caveat";
  }
  .desc h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 25px;
  }
  .desc h3 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .recipeDesc h1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 65px;
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transform: scale(-1);
    font-size: 25px;
  }
  .recProcess {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 60px;
  }
  .recProcess ul {
    list-style: none;
  }
  .recProcess li {
    font-size: 20px;
    font-family: "Caveat";
  }
  .recProcess ol li {
    margin-left: 16px;
  }
  .recProcess h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    width: 300px;
  }
  .ingredients {
    width: 1055px;
  }
  .instructions {
    width: 1055px;
    margin-top: 60px;
    margin-bottom: 93px;
  }
  .instructions button {
    width: 128px;
    height: 42px;
    font-family: "Caveat";
    font-size: 20px;
    background-color: #FFD972;
    border-style: none;
    border-radius: 26px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .recipeDesc {
    margin-top: 149px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .desc {
    max-width: 455px;
    margin-top: 60px;
  }
  .desc h3 {
    margin-top: 40px;
  }
  .recImage {
    width: 468px;
    height: 421px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 24px;
  }
  .desc p {
    font-size: 20px;
    font-family: "Caveat";
    margin-top: 36px;
  }
  h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 25px;
  }
  h3 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .recipeDesc h1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 65px;
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transform: scale(-1);
    margin-right: 12px;
    margin-left: -24px;
  }
  .recProcess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
  }
  .recProcess ul {
    list-style: none;
  }
  .recProcess li {
    font-size: 20px;
    font-family: "Caveat";
  }
  .recProcess ol li {
    margin-left: 16px;
  }
  .recProcess h2 {
    margin-bottom: 36px;
  }
  .ingredients {
    width: 455px;
  }
  .instructions {
    width: 455px;
    margin-top: 60px;
    margin-bottom: 195px;
  }
  .instructions button {
    width: 128px;
    height: 42px;
    font-family: "Caveat";
    font-size: 20px;
    background-color: #FFD972;
    border-style: none;
    border-radius: 26px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 599px) {
  .recipeDesc {
    margin-top: 71px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .desc {
    width: 322px;
    margin-top: 60px;
  }
  .desc h3 {
    margin-top: 45px;
  }
  .desc h2 {
    margin-top: -14px;
  }
  .recImage {
    width: 251px;
    height: 226px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 28px;
  }
  .desc p {
    font-size: 16px;
    font-family: "Caveat";
    margin-top: 16px;
    max-width: 250px;
  }
  h2 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  h3 {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .recipeDesc h1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
    font-family: "Lato";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transform: scale(-1);
    margin-right: 12px;
    margin-left: -24px;
  }
  .recProcess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 44px;
  }
  .recProcess ul {
    list-style: none;
  }
  .recProcess li {
    font-size: 20px;
    font-family: "Caveat";
  }
  .recProcess ol li {
    margin-left: 16px;
  }
  .recProcess h2 {
    margin-bottom: 16px;
  }
  .ingredients {
    width: 322px;
  }
  .instructions {
    width: 322px;
    margin-top: 44px;
    margin-bottom: 95px;
  }
  .instructions button {
    width: 128px;
    height: 42px;
    font-family: "Caveat";
    font-size: 20px;
    border-style: none;
    border-radius: 26px;
    margin-top: 44px;
  }
}
.homepage {
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../assets/images/hero.jpg);
  height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  height: 357px;
  width: 357px;
  border-radius: 100%;
  background-color: #ffd972;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.c1text-head {
  font-family: Caveat;
  font-size: 24px;
}

.c1text-desc {
  font-family: Lato;
  font-size: 13px;
  width: 164px;
}

.circle2 {
  height: 167px;
  width: 167px;
  background-color: #fcbcb8;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 150px;
  right: 100px;
}

.c2text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.c2text-desc {
  font-family: Lato;
  font-size: 10px;
  width: 105px;
}

.recipeshome {
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url(../assets/images/recipe-hero.jpg);
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -100px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeheader {
  font-size: 25px;
  font-family: CaveatB;
  margin-bottom: 50px;
}

.recipescontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  width: 1100px;
}

.reciperow1 {
  height: 263px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.reciperow2 {
  height: 263px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.recipe1 {
  height: 263px;
  width: 524px;
  display: flex;
}

.recipe2 {
  height: 263px;
  width: 524px;
  display: flex;
}

.recipe3 {
  height: 263px;
  width: 524px;
  display: flex;
}

.recipe4 {
  height: 263px;
  width: 524px;
  display: flex;
}

.recipe1img {
  width: 300px;
  height: 263px;
  background-image: url(../assets/images/recipe-pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24px;
}

.recipe2img {
  width: 300px;
  height: 263px;
  background-image: url(../assets/images/recipe-burger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24px;
}

.recipe3img {
  width: 300px;
  height: 263px;
  background-image: url(../assets/images/recipe-pilaf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24px;
}

.recipe4img {
  width: 300px;
  height: 263px;
  background-image: url(../assets/images/recipe-chowmein.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24px;
}

.recipe1text {
  width: 224px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.r1textcont {
  width: 140px;
}

.r1head {
  font-size: 15px;
  font-family: LatoB;
  text-decoration: underline;
}

.r1desc {
  font-size: 9px;
  font-family: Lato;
}

.r1timer {
  height: 24.46px;
  width: 87px;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.r1timericon {
  height: 100%;
  width: 24.46px;
  background-image: url(../assets/icons/time.svg);
  margin-right: 17.6px;
}

.r1time {
  font-size: 10px;
  font-family: Lato;
  margin-top: 15px;
}

.r1servingsicon {
  height: 100%;
  width: 24.46px;
  background-image: url(../assets/icons/servings.svg);
  margin-right: 17.6px;
}

@media screen and (max-width: 1100px) {
  .recipeshome {
    height: 1600px;
  }
  .recipescontainer {
    display: block;
    margin-bottom: 500px;
  }
  .reciperow1 {
    display: grid;
    justify-content: center;
    height: 566px;
  }
  .reciperow2 {
    display: grid;
    justify-content: center;
    height: 566px;
  }
}
@media screen and (min-width: 1025px) {
  .createYourRecipe {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .createYourRecipe h1 {
    margin-top: 132px;
    font-family: "Caveat";
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 78px;
  }
  .createYourRecipe h2 {
    font-size: 20px;
    font-family: "Lato";
    letter-spacing: 0.1em;
    margin-bottom: 36px;
  }
  .createYourRecipe input {
    height: 36px;
    width: 974px;
    margin-bottom: 86px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-width: 3px;
    font-size: 20px;
    font-family: "Lato";
    letter-spacing: 0.1em;
    background: transparent;
  }
  .createYourRecipe .crtRecBtn {
    width: 422px;
    height: 52px;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 26px;
    font-family: "Caveat";
    font-size: 17px;
    margin-bottom: 109px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .cyrDesc {
    max-width: 974px;
    margin-bottom: 130px;
  }
  .cyrDesc .attachBtn {
    float: right;
    margin-top: -130px;
    width: 110px;
    height: 36.2px;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 26px;
    font-family: "Caveat";
    font-size: 17px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .cyrIngrdnt {
    max-width: 974px;
    margin-bottom: 130px;
  }
  .cyrIngrdnt .addBtn {
    width: 38px;
    height: 38px;
    color: #fff;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 50px;
    float: right;
    margin-top: -132px;
  }
  .cyrInstr {
    max-width: 974px;
    margin-bottom: 109px;
  }
  .cyrInstr .addBtn {
    width: 38px;
    height: 38px;
    color: #fff;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 50px;
    float: right;
    margin-top: -132px;
  }
}
@media screen and (max-width: 1024px) {
  .createYourRecipe {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .createYourRecipe h1 {
    margin-top: 113px;
    font-family: "Caveat";
    font-size: 25px;
    margin-bottom: 65px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .createYourRecipe h2 {
    font-size: 20px;
    font-family: "Lato";
    letter-spacing: 0.1em;
    margin-bottom: 36px;
  }
  .createYourRecipe input {
    height: 28px;
    width: 558px;
    margin-bottom: 68.5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-width: 3px;
    font-size: 16px;
    font-family: "Lato";
    letter-spacing: 0.1em;
    background: transparent;
  }
  .createYourRecipe .crtRecBtn {
    width: 354px;
    height: 52px;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 26px;
    font-family: "Caveat";
    font-size: 17px;
    margin-bottom: 109px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .cyrDesc {
    max-width: 558px;
    margin-bottom: 98px;
  }
  .cyrDesc .attachBtn {
    float: right;
    margin-top: -111px;
    width: 120.5px;
    height: 36.2px;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 26px;
    font-family: "Caveat";
    font-size: 16px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .cyrIngrdnt {
    max-width: 558px;
    margin-bottom: 98px;
  }
  .cyrIngrdnt .addBtn {
    width: 38px;
    height: 38px;
    color: #fff;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 50px;
    float: right;
    margin-top: -113px;
  }
  .cyrInstr {
    max-width: 558px;
    margin-bottom: 100px;
  }
  .cyrInstr .addBtn {
    width: 38px;
    height: 38px;
    color: #fff;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 50px;
    float: right;
    margin-top: -113px;
  }
}
@media screen and (max-width: 599px) {
  .createYourRecipe {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .createYourRecipe .cyrDesc h1 {
    margin-top: 98.2px;
    font-family: "Caveat";
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 58.6px;
    letter-spacing: 0.1em;
  }
  .createYourRecipe h2 {
    font-size: 20px;
    font-family: "Lato";
    letter-spacing: 0.1em;
    margin-bottom: 47px;
  }
  .createYourRecipe input {
    height: 23px;
    width: 283.54px;
    margin-bottom: 49.5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-width: 3px;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 0.1em;
    background: transparent;
  }
  .createYourRecipe .crtRecBtn {
    width: 283px;
    height: 52px;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 26px;
    font-family: "Caveat";
    font-size: 20px;
    margin-bottom: 90px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .cyrDesc {
    max-width: 283.27px;
    margin-bottom: 58px;
  }
  .cyrDesc .attachBtn {
    float: right;
    margin-top: -89px;
    width: 92px;
    height: 33.2px;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 26px;
    font-family: "Caveat";
    font-size: 17px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  }
  .cyrIngrdnt {
    max-width: 283.27px;
    margin-bottom: 58px;
  }
  .cyrIngrdnt .addBtn {
    width: 38px;
    height: 38px;
    color: #fff;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 50px;
    float: right;
    margin-top: -94px;
  }
  .cyrInstr {
    max-width: 283.27px;
    margin-bottom: 58px;
  }
  .cyrInstr .addBtn {
    width: 38px;
    height: 38px;
    color: #fff;
    background-color: #EFA7A7;
    border-style: none;
    border-radius: 50px;
    float: right;
    margin-top: -94px;
  }
}
.loginhome {
  background-color: #ffd972;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpage {
  height: 449px;
  width: 708px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginhere {
  height: 293px;
  width: 209px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.loginheretext {
  font-size: 30px;
  font-family: LatoB;
}

input {
  height: 15px;
  width: 209px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-width: 3px;
  font-size: 12px;
  font-family: Lato;
  letter-spacing: 0.1em;
  background: transparent;
  color: black;
}

.loginbutton {
  background-color: #ffd972;
  height: 52px;
  width: 209px;
  font-size: 25px;
  font-family: Caveat;
  border-radius: 26px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.signup {
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dont {
  font-size: 12px;
  font-family: LatoI;
}

@media screen and (max-width: 800px) {
  .loginhome {
    height: 1200px;
  }
  .loginpage {
    display: grid;
    justify-content: center;
    height: 857px;
  }
}
.yourRecipe {
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url(../assets/images/recipe-hero.jpg);
  min-height: 1000px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 107px;
  padding-top: 137px;
}

.yrRecipeContainer .viewRecBtn {
  position: absolute;
  margin-left: 90px;
  margin-top: 110px;
}

.yourRecipe button {
  width: 127px;
  height: 42px;
  background-color: #FFD972;
  border-style: none;
  border-radius: 26px;
  font-family: "Caveat";
  font-size: 17px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
}

.yrRecipeHead h1 {
  font-size: 25px;
  font-family: CaveatB;
  margin-top: 80px;
  margin-bottom: 50px;
}

.yrRecipeContainer {
  display: flex;
}
.yrRecipeContainer .recImg {
  width: 300px;
  height: 263px;
  object-fit: cover;
  border-radius: 24px;
}
.yrRecipeContainer .yrRecDesc {
  width: 224px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.time img {
  height: 24.46px;
  width: 87px;
}

.servings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.servings img {
  height: 24.46px;
  width: 87px;
}

.yrRecDesc h2 {
  font-size: 15px;
  font-family: LatoB;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}
.yrRecDesc p {
  font-size: 9px;
  font-family: Lato;
  width: 138px;
}

.changesBtns {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

.mobileNav {
  width: 100%;
  height: 200px;
  background-color: #F25C54;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  display: none;
}

.closeIcon {
  width: 31px;
  height: 31px;
  opacity: 0.7;
  margin-right: 20px;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
  margin-top: 1%;
}

.mobileNav a {
  color: #000;
  font-family: "Caveat";
  font-size: 25px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

@media screen and (min-width: 1025px) {
  .mobileNav {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
