footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  bottom: 40px;
}

.copy {
  margin-left: 40px;
  //background-color: chocolate;
}

.footerIcon {
  width: 19px;
  height: 19px;
  margin-right: 40px;
  //background-color: aquamarine;
}

footer p {
  font-family: "LatoI";
  font-size: 15px;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.footLinks {
  //background-color: chartreuse;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -130px;
}

@media screen and (max-width: 970px) {
  footer p {
    font-size: 10px;
  }
}
