//desktop
@media screen and (min-width: 1025px) {
  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    bottom: 40px;
  }
  
  .copy {
    margin-left: 40px;
    //background-color: chocolate;
  }
  
  .footerIcon {
    width: 19px;
    height: 19px;
    margin-right: 40px;
    opacity: 0.6;
    //background-color: aquamarine;
  }
  
  footer p {
    font-family: "LatoI";
    font-size: 15px;
    margin-right: 20px;
    color: #393939;
    text-decoration: none;
  }

  .footLinks a {
    text-decoration: none;
  }
  
  .footLinks {
    //background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -130px;
  }
  
}

//tablet
@media screen and (max-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    bottom: 40px;
    
  }
  
  .copy {
    margin-left: 20px;
    //background-color: chocolate;
  }
  
  .footerIcon {
    width: 19px;
    height: 19px;
    margin-right: 20px;
    opacity: 0.6;
    //background-color: aquamarine;
    
  }
  .socialIcons {
    display: flex;
  }
  
  footer p {
    font-family: "LatoI";
    font-size: 10px;
    margin-right: 20px;
    color: #393939;
    text-decoration: none;
  }

  .footLinks a {
    text-decoration: none;
  }
  
  .footLinks {
    //background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    //margin-left: -130px;
    
  }
  
} 

//phone
@media screen and (max-width: 599px) {
  footer {
    display: flex;
    justify-content:space-evenly;
    position: relative;
    width: 300px;
    bottom: 60px;
    //flex-wrap: wrap;
    //background-color: rgb(147, 147, 194);
    
  }
  
  .copy {
    white-space: nowrap;
    //max-height: 12px;
    position: absolute;
    left: 0;
    margin-top: -30px;
    //background-color: yellow;
  }
  
  .socialIcons {
    position: absolute;
    right: -60px;
    display: flex;
    margin-top: -30px;
    //padding-right: 100px;
    max-height: 20px;
    //background-color: red;
    
  }

  .footerIcon {
    width: 19px;
    height: 19px;
    opacity: 0.6;
    //margin-right: 20px;
    //background-color: aquamarine;
  }
  
  footer p {
    font-family: "LatoI";
    font-size: 10px;
    margin-right: 20px;
    color: #393939;
    text-decoration: none;
  }

  .footLinks a {
    text-decoration: none;
  }
  
  .footLinks {
  
    min-width: 100%;
    position: absolute;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    //margin-left: 50px;
    
    
    
    
    //padding-bottom: 50px;
    
  }
  
} 
