nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 38px;
}

.siteLogo {
  width: 217px;
  height: 55px;
}

nav a {
  margin-left: 55px;
  font-family: "Caveat";
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.login {
  background-color: #ffd972;
  padding: 10px 45px 10px 45px;
  border-radius: 26px;
}
